<h1>Sub: <%= @sub.title %></h1>
<section>
  <p>Description: <%= @sub.description %></p>
  <p>Mod: <%= @sub.moderator.username %></p>
</section>

<%= render 'shared/form_error' %>

<section>
  <h2>Posts</h2>
  <ul>
  <% @posts.each do |post| %>
    <li> <%=link_to "#{post.title}", post_url(post) %></li>
  <% end %>
  </ul>

  <%= link_to 'New Post', new_post_url %>
</section>

<%= link_to 'Edit Sub', edit_sub_url %>
