<% if flash.now[:error] %>
  <%= flash.now[:error] %>
<% end %>

<%= render 'shared/form_user', action: :signup %>


<!-- <section>
  <%= form_tag(users_url, method: 'post') do %>
    <%= auth_token %>
    <%= label_tag(:email, "Email: ") %>
    <%= text_field_tag("user[email]") %>
    <%= label_tag(:password, "Password: ") %>
    <%= password_field_tag("user[password]") %>
    <%= submit_tag("Sign up") %>
  <% end %>


  <%= form_for :users do |f| %>
    Email: <%= f.text_field :email %><br />
    Password: <%= f.password_field :password %>
    <%= f.submit %>
  <% end %>
</section> -->
